<body class="text-center">    
    <main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">CADASTRO UNIDADE DE SAÚDE</h1>
            <div class="form-group">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME CPF"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME RAZAO SOCIAL"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME CNPJ"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME TELEFONE"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME STATUS"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME LOGRADOURO"><br>
            </div>
        </form>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
    </main>
</body>