<body class="text-center">    
    <main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">CADASTRO PACIENTE</h1>
            <div  class="big">
                <input ng-model= "testecpf"type="text" class="form-control" id="floatingInput" placeholder="INFORME CPF" ><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME NOME"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="DATA DE NASCIMENTO"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="ENDEREÇO"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="TELEFONE"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="E-MAIL"><br>          
                <input type="text" class="form-control" id="floatingInput" placeholder="PLANO DE SAUDE"><br>
            </div>
            <button (click)="salvarCliente()" >Cadastrar</button> 
        </form>
    </main>  
</body>