

<body class="text-center">
    
<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">CADASTRO MÉDICOS</h1>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="INFORME CPF"><br>
            </p>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="INFORME NOME"><br>
            </p>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="DATA DE NASCIMENTO"><br>
            </p>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="ENDEREÇO"><br>
            </p>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="TELEFONE"><br>
            </p>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="E-MAIL"><br>
            </p>
            <p  class="big">
                <input type="CPF" class="form-control" id="floatingInput" placeholder="PLANO DE SAUDE"><br>
            </p>



        
      
        <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
        

  </form>
</main>


    
  

</body>