

<body class="text-center">
    
<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">CADASTRO MÉDICOS</h1>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME CPF"><br>
            </p>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME ID"><br>
            </p>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME CRM"><br>
            </p>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME NOME"><br>
            </p>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME ESPECIALIDADE"><br>
            </p>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME PLANOS DE SAUDE"><br>
            </p>
            <p  class="big">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME TELEFONE"><br>
            </p>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
  </form>
</main>


    
  

</body>