<body class="text-center">
    <main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">CADASTRO MÉDICOS</h1>
            <div class="form-group">
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME CPF"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME ID"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME CRM"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME NOME"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME ESPECIALIDADE"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME PLANOS DE SAUDE"><br>
                <input type="text" class="form-control" id="floatingInput" placeholder="INFORME TELEFONE"><br>
            </div>
            <button class="w-100 btn btn-lg btn-primary" class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
        </form>
    </main>
</body>